@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Madimi+One&display=swap');

:root{
    --primary-color: #9d2f3c;
    --secondary-color: #fafad2;
    --accent1-color: #525456;
    --accent2-color: #cd5c5c;

    --heading-font: "Madimi One", sans-serif;
    --paragraph-font: "Madimi One", sans-serif;

    --nav-background-color: #d3d3d3;
    --nav-link-color: #87cefa;
    --nav-hover-link-color: #98fb98;
    --nav-hover-background-color: #663399;
}

body{
    font-family: var(--paragraph-font);
    margin: 1rem;
    border: 0rem;
    padding: 0rem;
    color: rgb(78, 78, 78);
    background: rgb(253, 246, 242);
}

h1, h2, h3 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p {
    padding: 25px;
    color: var(--accent1-color);
}

.hero {
    position: relative;
}

.hero img {
    position: relative; /* コンテナの相対位置を維持 */
}


.whitewater img{
    width: auto; 
    height: 500px;
}

nav.sociallinks a img {
    width: 60px; 
    height: 60px;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #d6a4a4; /* 背景色 */
    padding: 20px;
  }

article {
    margin-top: 20px;
}

img {
    max-width: 100%; /* 画像の幅を100%に */
}

a {
    text-decoration: none;
}


header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 120px 1fr 2fr;
	align-items: center;
	border-bottom: 1px solid #dadada;
	max-width: 1000px;
}

.logo img {
	margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
}

h1 {
    margin: 1rem;
    font-size: 1.5rem;
    color:rgb(106, 63, 224);
	font-size: 2.6rem;
	font-family: "Madimi One";
}

nav {
	text-align: right;
}

.navigation {
	display: flex;
	list-style: none;
}

.navigation li {
	flex: 1 1 100%;
}

.navigation a {
	display: block;
	color: navy;
	padding: 100px;
	text-decoration: none;
}

.navigation a:hover {
	color: tomato;
	font-weight: 700;
	text-decoration: underline;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 0 auto;
    width: 800px;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: rgba(138, 247, 242, 0.89);
    display: glid;
}

fieldset{
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

label, input, button, select, textarea{
    font-family: "Madimi One";
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

input[type="radio"] {
    width: 15px;
    height: 15px;
    vertical-align: auto;
}

button {
    margin: 1rem;
    background-color: rgb(121, 238, 26);
    color: rgb(32, 56, 41);
    border: none;
    border-radius: .8rem;
    padding: .75rem;
    font-size: 1.0rem;
}

button:hover {
    background-color: rgb(160, 179, 138);
}

footer {
    margin: 1rem auto 0;
    width: 650x;
    text-align: center;
    font-size: 0.8rem;
    color: rgb(85, 85, 85);
    border-top: 1px solid rgb(255, 243, 238);
}

.form-item {
    display: grid;
    align-items: center;
}

