@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Madimi+One&display=swap');

:root{
    --primary-color: #9d2f3c;
    --secondary-color: #fafad2;
    --accent1-color: #525456;
    --accent2-color: #cd5c5c;

    --heading-font: "Madimi One", sans-serif;
    --paragraph-font: "Madimi One", sans-serif;

    --nav-background-color: #d3d3d3;
    --nav-link-color: #87cefa;
    --nav-hover-link-color: #98fb98;
    --nav-hover-background-color: #663399;
}

body{
    font-family: var(--paragraph-font);
    margin: 1rem;
    border: 0rem;
    padding: 0rem;
}

h1, h2, h3 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p {
    padding: 25px;
    color: var(--accent1-color);
}

.hero {
    position: relative;
}

.hero img {
    position: relative; /* コンテナの相対位置を維持 */
}


.whitewater img{
    width: auto; 
    height: 500px;
}

nav.sociallinks a img {
    width: 60px; 
    height: 60px;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #d6a4a4; /* 背景色 */
    padding: 20px;
  }

article {
    margin-top: 20px;
}

img {
    max-width: 100%; /* 画像の幅を100%に */
}

a {
    text-decoration: none;
}


header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 120px 1fr 2fr;
	align-items: center;
	border-bottom: 1px solid #dadada;
	max-width: 1000px;
}

.logo img {
	margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
}

h1 {
	font-size: 2rem;
	font-family: Acme, Arial, sans-serif;
}

nav {
	text-align: right;
}

.navigation {
	display: flex;
	list-style: none;
}

.navigation li {
	flex: 1 1 100%;
}

.navigation a {
	display: block;
	color: navy;
	padding: 100px;
	text-decoration: none;
}

.navigation a:hover {
	color: tomato;
	font-weight: 700;
	text-decoration: underline;
}
