*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #90ccfe;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: rgb(255, 255, 255);
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #000000;
}

h1 {
    color: #24597b;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p { 
    padding: 0;
}

main{
    max-width: 840px;
}

aside{
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: crimson;
    color: blanchedalmond;
    text-align: center;
}

aside img{
    width: 200px;
    height: auto;
}

aside h2{
    position: absolute;
    top: 21px;
    left: 120px;
}

main img{
    width: 150px;
    height:auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

footer{
    margin-top:15px;
    border-top: 1px solid #CCC9A1;
    text-align: center;
}

/* Class Selectors */

.box{
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: #8b4159;
    color: #ffffff;
}

aside{
    width: 20rem;
    text-align: center;
    position: relative;
}


header, footer, .grid {
    margin: 0 auto;
    max-width: 840px;
}

h1 {
    border-bottom: 1px solid steelblue; 
}

.grid {
    display: grid;
    align-items: center;
}

main{
    grid-column: 2/3;
    margin: 1rem;
}

aside{
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

@media only screen and (max-width: 600px) {
    nav {
        flex-direction: column; /* ナビゲーション項目を縦方向に配置 */
    }

    nav a {
        padding: 0.5rem 0; /* ナビゲーション項目の上下の余白を追加 */
    }

    aside {
        width: 100%; /* サイドバーを横幅いっぱいに拡大 */
        margin: 1rem 0; /* サイドバーの上下の余白を追加 */
    }

    main img {
        float: none; /* 画像の浮動を解除 */
        margin: 0 auto 1rem; /* 画像のマージンを追加して中央配置 */
        display: block; /* 画像をブロックレベル要素として表示 */
    }
}
